@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-title: #B4B4B4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-martian-mono: var(--font-martian-mono);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-martian-mono), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden; 
}

@keyframes typewriterBlink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.typewriter-cursor {
  animation: typewriterBlink 0.8s steps(2, start) infinite;
}

